<header>
    活动报名{{message_count}}
    <title>活动报名</title>
    <div class="header-left">
       <button class="side-slide-trigger btn-style btn-4" ng-click="go_back()" >返回</button>
    </div>
    <div class="header-right"  ng-switch="activity_status" >
        <button ng-switch-when="begin" class="btn-style btn-4 " ng-click="go_end()">结束</button>
        <button ng-switch-when="end"  class="btn-style btn-4 " ng-click="go_begin()">开始</button>
        <button ng-switch-default  class="btn-style btn-4 "  ng-click="go_begin()">开始</button>
    </div>
    <!--go_back()--> <!--go_start():这里没有要求开始按钮的跳转-->


</header>
<body>

<div class="wrapper" >
    <!--<b><h2 >{{getname.name}}</h2></b>-->
    <!--<h3 align="center" >{{getname.name}}</h3>-->
    <ul  class="list-style-4" >
        <li ng-repeat="message in Messages" >
            <p class="header-left">{{message.user_name}}</p>
            <p class="header-right">{{message.user_phone}}</p>
        </li>
    </ul>
</div>

<div class="wrapper">
    <ul class="list-style-2" >
        <h2 align="center">{{getname.name}}</h2>
        <li ng-repeat="message in Messages">
            <br/>
            <p class="header-left">{{message.user_name}}</p>
            <p class="header-right">{{message.user_phone}}</p>
            <br/>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li ><button class="btn-style btn-4 " style="width: 100%"></i>  报名</button></li>
        <li ><button class="btn-style btn-4 " style="width: 100%"></i>  竞价</button></li>
    </ul>
</footer>