<header>
    活动报名({{message_count}}人)
    <title>活动报名</title>
    <div class="header-left">
       <button class="side-slide-trigger btn-style btn-4" ng-click="go_back()" >返回</button>
    </div>
    <div class="header-right"  ng-switch="this_activity_status"  ng-disabled="isDisabled()">
        <!--三种状态：开始可用  活动状态为end，开始不可用   活动状态为disabled，结束可用   活动状态为begin-->
        <button ng-switch-when="begin" class="btn-style btn-4 " ng-click="go_end()">结束</button>
        <button ng-switch-when="disabled"  class="btn-style btn-4 " ng-click="go_begin()" ng-disabled="true" style="background: #dcdcdc">开始</button>
        <button ng-switch-when="end"  class="btn-style btn-4 " ng-click="go_begin()" >开始</button>
        <!--<button ng-switch-default  class="btn-style btn-4"  ng-click="go_begin()" >开始</button>-->
    </div>


</header>
<body>



<div class="wrapper" >
    <ul class="list-style-2" id="id_refresh_page">
        <h2 align="center">{{register_activityname}}</h2>
        <li ng-repeat="message in Messages">
            <br/>
            <p class="header-left">{{message.user_name}}</p>
            <p class="header-right">{{message.user_phone}}</p>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li ><button class="btn-style btn-4 " style="width: 100%"></i>  报名</button></li>
        <li ><button class="btn-style btn-4 " style="width: 100%"></i>  竞价</button></li>
    </ul>
</footer>