<header>
    活动报名
    <title>活动报名</title>
    <div class="header-left">
       <button class="side-slide-trigger btn-style btn-4" ng-click="go_back()">返回</button>
    </div>
    <div class="header-right">
        <button class="btn-style btn-4 " ng-click="go_start()">开始</button>
    </div>
    <!--go_back()--> <!--go_start():这里没有要求开始按钮的跳转-->
</header>


<div class="wrapper" align="center">
    <b><h2 >{{getname.name}}</h2></b>
    <p>
        显示具体活动信息
    </p>
</div>


<!--<footer>-->
    <!--<ul class="footer-nav footer-nav-2tabs">-->
        <!--<li><a href="#"><i class="icon-twitter"></i><br />报名</a></li>-->
        <!--<li class="active"><a href="#"><i class="icon-tasks"></i><br />竞价</a></li>-->
    <!--</ul>-->
<!--</footer>-->

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li  class="active"><button class="btn-style btn-4 " style="width: 95%"><img src="images/yeoman.png"></i>报名</button></li>
        <li class="active"><button class="btn-style btn-4 " style="width: 95%"><img src="images/yeoman.png"></i>竞价</button></li>
    </ul>
</footer>