<html ng-app>
<header>
    活动列表 <!--好像有一个函数可以获得localstroage的存储个数-->
    <div class="header-left">
        <a href="#" class="side-slide-trigger btn-style btn-4"><i>返回</i></a>
    </div>
    <div class="header-right">
        <a href="#" class="btn-style btn-4 " ng-click="go_back()"><i>刷新</i> </a>
    </div>
</header>



<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li ng-repeat="activity in Activities">
            <a href="">
             <h3>activity.name</h3>
            </a>

        </li>

    </ul>
  <ul> <p>一共有：{{actcount}}个活动<p></ul>
</div>

</html>



