<header>
    竞价{{the_bid_id}}（{{the_bid_count}}人）
    <div class="header-left">
        <button class="btn-style btn-4" ng_click="goBackBidsLists()" >返回</button>
    </div>
    <div class="header-right">
        <button class="btn-style btn-4 "  ng-click="goBidResult()">列表</button>
    </div>
</header>



<div class="wrapper">
    <ul class="list-style-2"  id="id_refresh_bidDetailsPage">
        <li ng-repeat="bidMessage in BidsMessages">
            <p>{{bidMessage.bid_number}}</p>
            <i1 class="header-left" >{{bidMessage.user_name}}</i1>
            <i2 class="header-left" >{{bidMessage.user_phone}}</i2>
        </li>

        </li>
    </ul>
</div>

