<header>
    竞价{{the_bid_id}}（{{the_bid_count}}人）
    <title>竞价{{the_bid_id}}（{{the_bid_count}}人）</title>
    <div class="header-left">
        <button class="btn-style btn-4" ng_click="go_back_bidsLists()" >返回</button>
    </div>
    <div class="header-right" ng-switch="the_button_status">
        <button ng-switch-when="show_end"      class="btn-style btn-4 "  ng-click="end_bidDetails()">结束</button>
        <button ng-switch-when="disabled_end"  class="btn-style btn-4 "  ng-disabled="true" style="background: #dcdcdc">结束</button>
        <button ng-switch-default              class="btn-style btn-4 "  ng-click="end_bidDetails()">结束</button>
    </div>
</header>



<div class="wrapper">
    <ul class="list-style-2"  id="id_refresh_bidDetailsPage">
        <li ng-repeat="bidMessage in BidsMessages">
            <p>{{bidMessage.bid_number}}</p>
            <i1 class="header-left" >{{bidMessage.user_name}}</i1>
            <i2 class="header-left" >{{bidMessage.user_phone}}</i2>
        </li>

        </li>
    </ul>
</div>

