<header>
    竞价{{bid_id}}（{{bid_messages_count}}人）
    <div class="header-left">
        <button class="btn-style btn-4"   ng_click="goBackBidsLists()" >返回</button>
    </div>
    <div class="header-right" >
        <button class="btn-style btn-4 "  ng-click="goBidCensus()">统计</button>
    </div>
</header>



<div class="wrapper">
    <ol   class="list-style-2 my-ol"  type="1">
        <li ng-repeat="page_bid_message in Page_Bid_Messages" >
            <!--<p >{{page_bid_message.bid_number}}</p>-->
            <i1 class="header-left" >{{page_bid_message.user_name}}</i1>
            <i2 class="header-left" >{{page_bid_message.user_phone}}</i2>
            <p class="header-right">￥{{page_bid_message.user_price}}</p>
        </li>
    </ol>
</div>


<!--模态框-->
<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" align="center">竞价结果</h3>
    </div>
            <div class="modal-body" align="center" ng-switch="bid_result">
                <div ng-switch-when="success">
                    <p>{{user_name}}   ￥{{user_price}} </p>
                    <p>{{user_phone}}</p>
                    <p>{{bid_information}}</p>
                </div>
                    <div ng-switch-when="failure">
                     <p>{{bid_information}}</p>
            </div>
    </div>
</div>


<footer  class="my-footer"   id="id_bid_result" >
    <div ng-switch="bid_result" >
        <p ng-switch-when ="success" >竞价结果：{{user_name}}  ￥{{user_price}}   {{user_phone}}</p>
        <p ng-switch-when="failure">竞价失败</p>
    </div>
</footer>




        
