<header>
    竞价{{bid_id}}（{{bid_messages_count}}人）
    <div class="header-left">
        <button class="btn-style btn-4"   ng_click="goBackBidsLists()" >返回</button>
    </div>
    <div class="header-right" >
        <button class="btn-style btn-4 "  ng-click="goBidCensus()">统计</button>
    </div>
</header>



<div class="wrapper">
    <ul class="list-style-2" >
        <li ng-repeat="page_bid_message in Page_Bid_Messages">
            <p >{{page_bid_message.bid_number}}</p>
            <i1 class="header-left" >{{page_bid_message.user_name}}</i1>
            <i2 class="header-left" >{{page_bid_message.user_phone}}</i2>
            <p class="header-right">￥{{page_bid_message.user_price}}</p>
        </li>
    </ul>
</div>


<!--模态框-->
<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">竞价结果</h3>
    </div>
    <div class="modal-body" align="center">
        <p>{{user_name}}   {{user_price}} </p>
        <p>{{user_phone}}</p>
        <p>{{bid_information}}</p>
    </div>
    <!--<div class="modal-footer">-->
        <!--<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>-->
    <!--</div>-->
</div>


<footer  class="my-footer" ng-disabled={{is_disabled_footer}}>
     <p>竞价结果：{{user_name}}  ￥{{user_price}}   {{user_phone}}</p>
</footer>



